# Données
data/raw/*.csv
data/processed/*.csv

# Environnement virtuel
.env_scolaire/
.env_scolaire_pipeline/

# Python
__pycache__/
api/__pycache__/
pipelinegit staut/__pycache__/
*.pyc
# OS
.DS_Store
#front
frontend/.env
frontend/node_modules